# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.alembic.ini
migrations/

# IDEs
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite3
*.db

# Logs
*.log

# Environment variables
.env
